html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
  padding-top: 55px;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  padding-bottom: 42px;
  height: 100%;
}
.card-header .card-link.active,
.card-body a.active {
    color: #E95815 !important;
}

.card-header .card-link.active i,
.card-body a.active i {
    color: #E95815 !important;
}
.table-striped{
  width:100%;
}
.table{
  width:100%;
}
.btn {
  font-size: 16px;
  padding: 10px 15px;
  min-width: 160px;
}

.btn-primary {
  background: #E95815;
  border: 0;
}

.text-primary {
  color: #E95815 !important;
}

.btn-primary:hover {
  background: #B94008;
  border: 0;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background: #E95815;
  border: 0;
  outline: none; 
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary.focus, .btn-primary:focus {
  box-shadow: none;
}

.btn-info {
  background: #333;
  border: 0;
}

.btn-info:hover {
  background: #111;
  border: 0;
}

.btn-info:not(:disabled):not(.disabled):active {
  background: #111;
  border: 0;
  outline: none; 
}

.btn-info:not(:disabled):not(.disabled):active:focus, .btn-info.focus, .btn-info:focus {
  box-shadow: none;
}

.main-content {
  position: relative;
  height: 100%;
}

.menu-left {
  width: 270px;
  position: fixed;
  left: 0;
  top: 0;
  background: #111;
  min-height: 400px;
  height: 100%;
  margin-top: 55px;
}

.main-area {
  padding: 20px;
  padding-left: 290px;
  background: #fff;
  min-height: 500px;  
  padding-bottom: 70px;
}

.navbar {
  background: #fff;
  padding: 0;
}

.navbar-brand {
  width: 270px;
  padding: 10px 15px;
  margin: 0;
  background: #fff;
}

.navbar-brand img {
  height: 35px;
  display: block;
  margin: 0 auto;
}

.dash-title {
  background: #E95815;
  padding: 15px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}

.dash-title a {
  color: #fff;
  text-decoration: none;
}

.noti-sec {
  position: relative;
  padding-right: 25px;
}

.noti-sec i {
  color: #333;
  font-size: 20px;
}

.noti-sec span {
  position: absolute;  
  display: inline-block;
  padding: 3px;
  line-height: 12px;
  background: #E95815;
  color: #fff;
  font-size: 11px;
  border-radius: 15px;
  right: 19px;
  top: -10px;
}

.menu-left ul {
  padding: 0;
}

.menu-left ul li {
  display: block;
  border-bottom: #333 solid 1px;
}

.menu-left ul li a {
  display: block;
  padding: 12px 15px;
  color: #fff;
  text-decoration: none;
}

.menu-left ul li a:hover {
  background: #B94008;
}

.menu-left ul li img {
  margin-right: 5px;
}

.menu-left ul li i {
  float: right;
  line-height: 21px;
}

.navbar .date {
  padding-left: 20px;
}

.navbar .account-sec {
  padding-right: 20px;
}

.navbar .account-sec img {
  margin: 0 7px;
  height: 15px;
}

.navbar .account-sec img:hover {
  text-decoration: none;
}

.navbar .account-sec .dropdown-menu {
  left: inherit;
  right: 0;
  top: 35px;
  padding: 0;
  font-size: 14px;
}

.navbar .account-sec .dropdown-toggle {
  cursor: pointer;
}

.navbar .account-sec .dropdown-item {
  padding: 7px;
}

.dropdown-item:focus, .dropdown-item:hover {
  background: #DE1A22;
  color: #fff;
}

.main-heading {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: #ddd solid 1px;
  margin-bottom: 15px;
}

.sub-heading {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: #ddd solid 1px;
  margin-bottom: 0px;
}

.search-box {
  padding-bottom: 5px;
  border-bottom: #ddd solid 1px;
}

.search-box .form-control {
  padding: 10px;
}

.search-box .btn {
  padding: 10px 25px;
}

.search-box label {
  color: #999;
  padding: 8px 0;
  margin: 0;
}

.search-label {
  display: block;
}

.search-label a {
  color: #333;
  text-decoration: underline;
}

.dashbox-cover {
  padding: 25px 0 0;
  max-width: 100%;
}

.dashbox-in {
  text-align: center;
  display: inline-block;
  margin: 0 20px 20px 0;
  width: 15%;
}

.dashbox {
  padding: 25px;
  background: #eee;
  border-radius: 7px;
  border: #ddd solid 1px;    
  text-align: center;
}

.dashbox i {
  text-align: center;
  margin-bottom: 10px;
  font-size: 30px;
  color: #E95815;
}

.dashbox h4 {
  font-size: 27px;
  margin: 0;
}

.dashbox-in h3 {
  font-size: 17px;
  padding: 10px 0 0;
  margin: 0;
}

.dash-other {
  padding: 20px 0;
}

.dash-other .table td, .dash-other .table th {
  padding: .30rem;
}

.footer {
  border-top: #ddd solid 1px;
  background: #fff;
}

.footer .app-info {
  width: 270px;
  padding: 10px;
  background: #333;
  color: #999;
  text-align: center;
}

.copy-text {
  padding: 10px;
  color: #666;
}

.dash-all {
  padding: 0px 0;
  /* padding: 20px 0; */
}

.dash-table-all img {
  width: 80px;
}

.dash-table-all td a {
  display: inline-block;
  padding: 1px 5px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}

.dash-table-all td a:hover {
  text-decoration: none;
}

.dash-table-all .btn {
  border: 0;
  font-size: 14px;
  min-width: 0;
}

.dash-table-all .btn:hover {
  color: #fff;
}

.sort-block {
  padding: 10px 0;
  display: flex;
}

.show-num {
  border-right: #ddd solid 1px;
  padding-right: 15px;
  margin-right: 15px;
}

.show-num span {
  padding: 7px 0;
  margin-right: 10px;
}

.show-num .select {
  padding: 7px;
  margin-right: 10px;
}

.sort-by .select {
  padding: 7px;
}

.pagination-block {
  padding: 15px 0 0;
  border-top: #ddd solid 1px;
}

.pagination-block .page-link {
  color: #333;
}

.pagination-block .page-item.active .page-link {
  background: #E95815;
  color: #fff;
  border: 0;
}

.powered {
  padding: 10px;
  color: #666;
  font-size: 13px;
}

.login-bg {
  background: #E95815;
}

.login-cover {
  width: 350px;
  display: block;
  margin: 0 auto; margin-top: 2%;
}

.login-logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 35px;
}

.login-box {
  margin: 0 0 30px 0;
  width: 100%;
  background: #F5F5F5;
  border: #ddd solid 1px;
  border-radius: 7px;  
}

.login-box h3 {
  font-size: 20px;
  font-weight: 500;
  padding: 20px;
  border-bottom: #ddd solid 1px;
  text-align: center;
}

.login-in {
  padding: 20px;
}

.login-in .form-control {
  margin-bottom: 20px;
}

.btn-login {
  width: 100%;
  padding: 10px !important;
  color: #fff !important;
  text-decoration: none !important;
  background: #333;
}

.login-in a {
  display: block;
  text-align: center;
  padding: 15px 0;
  color: #E95815;
  text-decoration: underline;
}

.login-cover h6 {
  text-align: center;
  padding-bottom: 5px;
  color: #fff;
  font-size: 14px;  
}

.login-cover h6 i {
  color: #fff;
}

.logo-name span {
  display: inline-block;
  text-align: center;
}

.btn-groups .btn {
  width: 150px;
}

.menu-left .card {
  border: 0;
}

.menu-left .card-header {
  padding: 0;
  background: none;
  border-radius: 0;
  border: 0;
  border-bottom: #666 solid 1px;
}

.menu-left .card-header .card-link {
  padding: 12px 15px;
  background: #111;
  border-radius: 0;
  border: 0;
  display: flex;
  color: #fff;
}

.menu-left .card-header .card-link:hover {
  background: #B94008;
}

.menu-left .card-header .card-link img {
  margin-right: 5px;
}

.menu-left .card-header .card-link i {
  position: relative;
  top: 3px;
  margin-right: 10px;
}

.menu-left .card-header .card-link i.first {
  margin-right: 7px;
}

.menu-left .card-header .card-link i.second {
  margin-left: auto;
}

.menu-left .card-body {
  padding: 0;
  background: #333;
}

.menu-left .card-body a {
  display: block;
  padding: 7px 15px;
  border-bottom: #666 solid 1px;
  color: #ccc;
  text-decoration: none;
}

.menu-left .card-body i {
  float: right;
}

.message-body h5 {
  font-size: 16px;
  margin-bottom: 10px;
}

.message-body .btn-groups .btn {
  width: auto;
}

.schedule-sec h5 {
  font-size: 16px;  
  padding: 5px 10px;
  background: #DE1A22;
  display: inline-block;
  margin-bottom: 10px;
  color: #fff;
}

.schedule-sec h5 a {
  background: #333;
  padding: 2px;
  color: #fff;
  text-decoration: none;
}

.schedule-steps {
  padding: 10px 0 10px 20px;
  list-style: decimal;
  line-height: 25px;
}

.schedule-steps li {
  border-bottom: #ddd solid 1px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.btn-upload {
  position: relative;
  overflow: hidden;
}

.btn-upload input {
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
}

.detail-table .form-control {
  width: 120px;
}

.clock-timepicker input {
  width: 120px;
  padding: 10px;
  border: #ddd solid 1px;
  border-radius: 5px;
}

.radio-cover {
  padding-bottom: 15px;
}

.radio-cover span {
  padding: 0 15px 0 0;
}

.radio-cover .radio {
  margin-right: 5px;
}

.back-btn {
  display: block;  
  font-weight: 500;
}

.back-btn i {
  margin-right: 7px;
}

.back-btn a {
  color: #333;
  text-decoration: none;
  display: inline-block;
  padding: 10px 0;
}

.bg-cover {
  padding: 15px;
  border: #ddd solid 1px;
  box-shadow: 0 0 2px 2px #ddd;
  margin: 15px 0;
}

.table {
  margin: 0;
}

.category-section {
  margin-bottom: 30px;
}

.category-section .table {
  line-height: 15px;
}

.category-section .table .btn.btn-view {
  display: table;
  margin: 0 auto;
  width: 60px;
  padding: 10px 5px;
  line-height: 20px;
}

.category-section .table .btn {
  padding: 5px;
  line-height: 13px;
  margin-bottom:5px;
  min-width: 0;
}

.category-section .table label {
  display: block;
}

.category-section .table .value {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

.category-section .table .update {
  display: block;
  text-align: center;
  color: #dc3545;
  text-decoration: underline;
}

.category-section .table .badge {
  display: inline-block;
  margin-bottom: 2px;
}

.category-section .card {
  border: 0;
  border-radius: 0;
}

.category-section .card-header {
  border: 0;  
  padding: 0;
  border-bottom: #ccc solid 1px;
}

.category-section .card-header .btn-link i {
  margin-left: auto;
  font-size: 18px;
  float: right;
  transform: rotate(180deg);
  transition: 0.3s;
}

.category-section .card-header .btn-link {
  color: #000;
  padding: .75rem 1.25rem;
  width: 100%;
  display: block;
  text-align: left;
  border-radius: 0;
  text-decoration: none;
  background: #ccc;
}

.category-section .card-header .btn-link b {
  color: #CC490D;
}

.category-section .card-header .btn-link span {
  display: inline-block;
  min-width: 370px;
  /* font-size: ; */
}

.category-section .card-header .btn-link:hover {
  text-decoration: none;
  background: #ccc;
}

.category-section .card-header .btn-link.collapsed i {
  transform: rotate(0deg);
  transition: 0.3s;
}

.category-section .card-header .btn-link.collapsed {
  background: #eee;
}

.approver-section b {
  color: #CC490D;
}

.bg-grey {
  background: #eee;
}

.category-section .card-body {
  padding: 5px;
  border: #ddd solid 1px;
}

.myg-modal .table {
  margin: 0;
}

.myg-modal .table td, .myg-modal .table th {
  padding: 2px 0;
  border: 0;
}

.table .myg-table{
  margin: 0;
}

.table.myg-table td, .table.myg-table th {
  padding: 2px 0;
  border: 0;
}

.mark-complete-sec {
  text-align: center;
}

.mark-complete-sec img {
  display: block;
  width: 90px;
  margin: 25px auto;
}

.max-w10 {
  max-width: 800px;
}

.max-w20 {
  max-width: 70%;
}

.input-w {
  width: 300px;
}

.add-cat-cover {
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 2px 2px #ccc;
  margin: 20px 0;
}

/*-----------toggle switch start---------------------------*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*-----------toggle switch end-----------------------*/

.add-cat-cover .custom-checkbox .custom-control-label::before {
  width: 24px;
  height: 24px;
  border: #e95815 solid 2px;
  background: none;
}

.add-cat-cover .custom-control-label::after {
  width: 24px;
  height: 24px;
}

.add-cat-cover .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background: #e95815;
}

.add-cat-cover .custom-control {
  padding-left: 2.3rem;
}

.add-cat-cover .custom-control-label {
  padding-top: 4px;
  font-weight: 600;
  font-size: 18px;
}

.add-cat-cover i {
  font-size: 20px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  background: #c82333;
  color: #fff;
  text-align: center;
  padding: 5px 0;
}

.claim-cat-cover .table .btn {
  padding: .375rem .75rem;
  min-width: 0;
}

.btn-search, .btn-add {
  padding: .375rem .75rem;
  min-width: 0;
}

.role-edit .badge {
  font-size: 13px;
  font-weight: 400;
}

.modal-confirm .btn {
  min-width: 0;
}

.filter-block {
  padding: 20px;
  background: #eee;
  border-radius: 7px;
  margin-bottom: 20px;
}

.filter-block .form-control {
  margin-bottom: 10px;
}

.filter-block .btn-search {
  padding: 10px 25px;
  text-align: center;
  min-width: 160px;
  text-transform: uppercase;
  margin-left: auto;
  display: table;
  margin-top: 10px;
}

.export-sec label {
  display: inline-block;
}

.export-sec .input-group {
  display: inline-block;
  margin: 0 auto;
}

